<div class="mt-6">
  <label class="block text-sm leading-5 font-medium text-gray-700"><%= f.object.title %></label>
  <div class="mt-1">
    <%= f.date_field :date, class: 'form-input', style: 'min-height: 49.33px' %>
  </div>
</div>
