<!-- Exhibits start here -->
<section class="container w-full py-5 md:py-10 mx-auto mt-28 px-5">
  <h1 class="font-bold text-black text-4xl md:text-7xl lg:text-9xl mb-5 md:mb-10"> EXHIBITIONS </h2>

  <hr class="w-full my-5">

  <div>
    Exhibits go here
  </div>
</section>
