<turbo-stream action='replace' target='flash'>
  <template>
    <%= turbo_frame_tag 'flash' %>

    <% @flash.each do |key, value| %>
      <div data-controller="flash" class="fixed top-0 w-full px-5 z-[200]">
        <div class="flex justify-center w-full p-5">
          <div class="max-w-lg w-full <%= classes_for_flash(key) %> mx-auto py-3 px-5 rounded-lg">
            <div class="mr-4"><%= value %></div>
          </div>
        </div>
      </div>
    <% end %>
  </template>
</turbo-stream>
<turbo-stream action='replace' target='side-modal'>
  <template>
    <%= turbo_frame_tag 'side-modal' %>
  </template>
</turbo-stream>
