.bg-neoma-blue-1 {
    background-color: #3b5172;
}

.bg-neoma-blue-2 {
    background-color: #456189;
}

.bg-neoma-blue-3 {
    background-color: #2b3a55;
}

.bg-neoma-blue-4 {
    background-color: #1d2835;
}

.text-neoma-blue-1 {
    color: #3b5172;
}

.text-neoma-blue-2 {
    color: #456189;
}

.text-neoma-blue-3 {
    color: #2b3a55;
}

.text-neoma-blue-4 {
    color: #1d2835;
}

.bg-neoma-pink-1 {
    background-color: #fbd8d8;
}

.bg-neoma-pink-2 {
    background-color: #f7b1af;
}

.bg-neoma-pink-3 {
    background-color: #be7f88;
}

.bg-neoma-pink-4 {
    background-color: #b57782;
}

.text-neoma-pink-1 {
    color: #fbd8d8;
}

.text-neoma-pink-2 {
    color: #f7b1af;
}

.text-neoma-pink-3 {
    color: #be7f88;
}

.text-neoma-pink-4 {
    color: #b57782;
}
