.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
    transition-property: opacity, transform;
}

.reveal.in {
    opacity: 1;
    transform: none;
}

.reveal.side.in {
    opacity: 1;
    transform: none;
}

.reveal.side {
    opacity: 0;
    transform: translateX(-20px);
}

.reveal.modal-backdrop {
    opacity: 0;
    transform: none;
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
    transition-property: opacity;
}

.reveal.modal-backdrop.in {
    opacity: 0.3;
    transform: none;
}

:root {
    --reveal-opacity: 1; /* Default value for opacity */
}

img.reveal {
    opacity: 0;
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
    transition-property: opacity;
}

img.reveal.in {
    opacity: var(--reveal-opacity);
}
